
#quote-box {
	background: #2a2843;
	border-radius: 4px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 20px;
	width: 40%;
	margin: 0 auto;
	box-shadow: 0 10px 12px rgb(0 0 0 / 0.15);
}

#text {
	font-size: 30px;
}

.fa-quote-left {
  margin-right: 10px;
  opacity: 0.1;
}

.fa-quote-right {
  margin-left: 10px;
  opacity: 0.1;
}

#author {
	margin: 20px 0;
	font-style: italic;
	opacity: 0.3;
	text-align: right;
}

.custom-btn {
	cursor: pointer;
	background: #222037;
	border: none;
	padding: 11px;
	color: #fff;
	font-size: 17px;
	border-radius: 8px;
	-webkit-transition: .425s;
	-o-transition: .425s;
	transition: .425s;
}

.custom-btn:hover {
	background: #14131d;
}

.tweet {
	float: left;
}

.generate-btn {
	outline: none;
	font-family: 'Montserrat', sans-serif;
	float: right;
}

@media (max-width: 1112px) {
	#quote-box {
		width: 70%;
	}
}

@media (max-width: 736px) {
	#quote-box {
		width: 95%;
	}
}